<app-navbar-ins></app-navbar-ins>
<div class="adicionar-treino-container">
    <h2>Adicionar Treino</h2>

    <form>
        <div class="form-group">
            <label for="objetivo">Objetivo do Treino:</label>
            <input style="width: 98.5% !important;" type="text" id="objetivo" name="objetivo" placeholder="Digite o objetivo do treino">
        </div>

        <table class="treino-table">
            <thead>
                <tr>
                    <th>Exercício</th>
                    <th>Descrição</th>
                    <th>Repetições</th>
                    <th>Carga</th>
                    <th>Tipo do Set</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" id="exercicio1" name="exercicio1" placeholder="Exercício 1"></td>
                    <td><input type="text" id="descricao1" name="descricao1" placeholder="Descrição"></td>
                    <td><input type="number" id="repeticoes1" name="repeticoes1" placeholder="Repetições"></td>
                    <td><input type="number" id="carga1" name="carga1" placeholder="Carga"></td>
                    <td><input type="text" id="tipoSet1" name="tipoSet1" placeholder="Tipo do Set"></td>
                </tr>
                <tr>
                    <td><input type="text" id="exercicio2" name="exercicio2" placeholder="Exercício 2"></td>
                    <td><input type="text" id="descricao2" name="descricao2" placeholder="Descrição"></td>
                    <td><input type="number" id="repeticoes2" name="repeticoes2" placeholder="Repetições"></td>
                    <td><input type="number" id="carga2" name="carga2" placeholder="Carga"></td>
                    <td><input type="text" id="tipoSet2" name="tipoSet2" placeholder="Tipo do Set"></td>
                </tr>
                <tr>
                    <td><input type="text" id="exercicio3" name="exercicio3" placeholder="Exercício 3"></td>
                    <td><input type="text" id="descricao3" name="descricao3" placeholder="Descrição"></td>
                    <td><input type="number" id="repeticoes3" name="repeticoes3" placeholder="Repetições"></td>
                    <td><input type="number" id="carga3" name="carga3" placeholder="Carga"></td>
                    <td><input type="text" id="tipoSet3" name="tipoSet3" placeholder="Tipo do Set"></td>
                </tr>
                <tr>
                    <td><input type="text" id="exercicio4" name="exercicio4" placeholder="Exercício 4"></td>
                    <td><input type="text" id="descricao4" name="descricao4" placeholder="Descrição"></td>
                    <td><input type="number" id="repeticoes4" name="repeticoes4" placeholder="Repetições"></td>
                    <td><input type="number" id="carga4" name="carga4" placeholder="Carga"></td>
                    <td><input type="text" id="tipoSet4" name="tipoSet4" placeholder="Tipo do Set"></td>
                </tr>
                <tr>
                    <td><input type="text" id="exercicio5" name="exercicio5" placeholder="Exercício 5"></td>
                    <td><input type="text" id="descricao5" name="descricao5" placeholder="Descrição"></td>
                    <td><input type="number" id="repeticoes5" name="repeticoes5" placeholder="Repetições"></td>
                    <td><input type="number" id="carga5" name="carga5" placeholder="Carga"></td>
                    <td><input type="text" id="tipoSet5" name="tipoSet5" placeholder="Tipo do Set"></td>
                </tr>
                <tr>
                    <td><input type="text" id="exercicio6" name="exercicio6" placeholder="Exercício 6"></td>
                    <td><input type="text" id="descricao6" name="descricao6" placeholder="Descrição"></td>
                    <td><input type="number" id="repeticoes6" name="repeticoes6" placeholder="Repetições"></td>
                    <td><input type="number" id="carga6" name="carga6" placeholder="Carga"></td>
                    <td><input type="text" id="tipoSet6" name="tipoSet6" placeholder="Tipo do Set"></td>
                </tr>
            </tbody>
        </table>

        <button type="submit">Adicionar Treino</button>
    </form>
</div>
<app-footer-ins></app-footer-ins>